<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="tailwind/min.js"></script>
	<title>Home</title>
</head>

<body class="min-h-screen bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end relative font-sans">
	<img src="img/banner_2.jpeg" alt="Banner" class="absolute w-full h-full object-cover" />

	<!-- Camada de escurecimento sobre a imagem -->
	<!--<div class="absolute inset-0 bg-black/50 backdrop-blur-xs"></div>-->

	<!-- Conteúdo principal centralizado -->
	<main class="relative z-10 text-center px-4 max-w-screen-lg">
		<!-- Botão Entrar -->
		<a th:href="@{/escala}"
		   class="inline-block bg-yellow-400 hover:bg-yellow-400 text-black font-semibold text-lg px-8 py-3.5 rounded-xl shadow-lg hover:shadow-yellow-600/30 transition-all duration-300 transform hover:-translate-y-0.5 active:translate-y-0 mb-4">
			Entrar
		</a>
	</main>

</body>

</html>